html,
body,
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  .flex();
}

* {
  max-width: 100%;
}

h4 {
  font-size: 2rem;
}

h4,
p,
i,
a {
  text-align: center;
}
