.skills {
  background-color: @skills-background;
  width: 100%;
  padding: 5em;

  p {
    font-size: 2rem;
  }
}

.skills-cards {
  .flex();

  @media @desktop {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.skills-card {
  .flex();
  margin: 5em 0;

  i {
    font-size: 8rem;

    @media @desktop {
      font-size: 12rem;
    }
  }

  @media @tablet {
    margin: 2em;
  }
}

p.skills-card-title {
  font-size: 2rem;

  @media @desktop {
    font-size: 3rem;
  }
}

p.skills-card-description {
  font-size: 1.5rem;

  @media @desktop {
    font-size: 2.5rem;
  }
}

.fa-html5 {
  color: @html5;
}

.fa-css3-alt {
  color: @css3;
}

.fa-js {
  color: @js;
}
